.contest-info {
    &-wrap {
        background-color: #fff;
        padding: 10px;
    }

    &-breadcrumb {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
    }
    &-header {
        &-title{
            line-height: 40px;
            margin-bottom: 24px;
            margin-top:8px;
            padding: 5px 0;
            font-weight: 300;
            &-sub {
                font-weight: 400;
                font-size: 90%;
                margin-left: 12px;
            }
        }
        p {
            font-size: 14px;
            margin: 10px 0;
        }

    }
    &-content {
        &-left,&-right{
            h2 {
                margin: 1.6em 0 .6em;
                font-weight: 400;
                clear: both;
            }
        }
        &-box {
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            display: inline-block;
            width: 100%;
            //margin: 0 0 16px;
            padding: 42px 20px 20px;
        }
        &-table {
            border: 1px solid #e9e9e9;
            border-radius: 4px;

        }
    }
    &-source,&-code,&-title  {
        overflow: hidden;
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
    }
}

