
#admin {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  .admin {
    &-wrap {
      background-color: #fff;
      margin: 16px 16px 58px 16px;
      padding-top: 20px;
      display: flex;
    }
    &-sider {
      height: 100%;
    }

    &-main {
      padding: 20px;
      width: 100%;
    }
  }

}

//通用字体样式
.h-3 {
  font-size: 32pt;
  margin-bottom: 10px;

}

.h-2 {
  font-size: 24pt;
  margin-bottom: 10px;
}

.h-1 {
  font-size: 20pt;
  margin-bottom: 10px;
}

.h-line {
  font-size: 16pt;
}

.title {
  font-size: 14pt;
}

.mock-a {
  color: #108ee9;
}